* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Teachers", sans-serif;
}
button input {
  font-family: inherit;
}
main {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    138deg,
    rgb(32, 201, 255) 36.7%,
    rgba(0, 9, 187, 0.89) 84.4%,
    rgb(255, 255, 255) 119.7%
  );
}
